@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins' sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
  }

  :root {
    --primary-color: #3490dc; /* Replace with your actual primary color */
  }
  
  .from-primary-color {
    --tw-gradient-from: var(--primary-color) var(--tw-gradient-from-position);
    --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  
  .to-purple-500 {
    --tw-gradient-to: #9f7aea; /* Purple 500 color */
  }
  
  
  

